.status-container {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 50%;
}

h1 {
    color: inherit;
}

.status-message {
    font-size: 1.8rem;
    font-weight: 600;
}

.status-container a {
    text-decoration: none;
    background: #95f7b1;
    color: #134040;

    padding: 1rem 1.4rem;
    border-radius: 0.8rem;

    transition: 0.2s;
    cursor: pointer;
}

.status-container a:hover {
    background: #cae456;
}