package views

import "github.com/gattini0928/Equilibrium/internal/models"

templ Status400Page(data models.StatusView) {
    @Layout("Recurso Incorreto", data.IsAuth, []string{"status.css"}) {
        <div class="status-container">
            <h1>{data.StatusCode}</h1>
            <p class="status-message">{data.StatusMessage}</p>
            <a href="/">Voltar ao início</a>
        </div>
    }
}