package views

import "github.com/gattini0928/Equilibrium/internal/models"

templ CompletePsychiatristInfoPage(data models.PsychiatristView) {
    @Layout("Completar Informações", data.IsAuth, []string{}) {
        <main class="form-page">

            if data.Msg != "" {
                <span class="msg">{data.Msg}</span>
            }

            <h2>Complete suas informações</h2>

            <form method="POST" action="/psychiatrists/profile" class="form-complete">
                <div class="inputs-labels">
                    <label for="crm">CRM:</label>
                    <input type="text" name="crm" placeholder="Seu CRM" required>

                    if data.Form.Errors["crm"] != "" {
                        <span class="error">{data.Form.Errors["crm"]}</span>
                    }
                </div>

                <div class="inputs-labels">
                    <label for="description">Breve descrição sobre você:</label>
                    <input type="text" name="description" placeholder="Descrição" required>

                    if data.Form.Errors["description"] != "" {
                        <span class="error">{data.Form.Errors["description"]}</span>
                    }
                </div>

                <div class="inputs-labels">
                    <label for="price">Preço da sua consulta:</label>
                    <input type="number" step="0.01" name="price" min="0" placeholder="0.00" required>

                    if data.Form.Errors["price"] != "" {
                        <span class="error">{data.Form.Errors["price"]}</span>
                    }
                </div>

                if data.Form.General != "" {
                    <div class="error">{data.Form.General}</div>
                }

                <button type="submit">Completar Cadastro</button>
            </form>

        </main>
    }
}