package views

import (
    "fmt"
    "github.com/gattini0928/Equilibrium/internal/models"
  )

templ ConsultationPage(data models.ConsultationRoomView) {
<html>
  <head>
    <title>Consulta</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://meet.jit.si/external_api.js"></script>
    <link rel="stylesheet" href="/static/css/consultation.css">
  </head>

  <body>
    <main>
      if data.UserRole == "patient" {
        if data.Consultation.DoctorRole == "therapist" {
          <h1>Consulta com o terapeuta {data.Consultation.DoctorName}</h1>
        }
        if data.Consultation.DoctorRole == "psychiatrist" {
          <h1>Consulta com o psiquiatra {data.Consultation.DoctorName}</h1>
        }
      } else {
        <h1>Consulta com o paciente {data.Consultation.PatientName}</h1>
      }

      <div id="meet"></div>
      
<script>
  const domain = "meet.jit.si";

  const options = {
    roomName: "equilibrium-consulta-{ data.Consultation.ID }",
    parentNode: document.querySelector("#meet"),

    configOverwrite: {
      prejoinPageEnabled: false,
      disableDeepLinking: true,
      startWithAudioMuted: false,
      startWithVideoMuted: false,
    },

    interfaceConfigOverwrite: {
      TOOLBAR_BUTTONS: [
        "microphone",
        "camera",
        "hangup",
        "fullscreen",
        "settings"
      ],
    }
  };

  const api = new JitsiMeetExternalAPI(domain, options);
</script>

      <div id="toast"></div>

      if data.UserRole == "patient" {
        <div class="patient-view">
          <a class="end-consultation" href="/">Encerrar Consulta</a>
        </div>
      }

      if data.Consultation.DoctorRole == "therapist" {
        <div class="therapist-view">
          <div class="panels">
            <div class="panel">
              <h2>Anotação</h2>
              <form method="POST" hx-post={ templ.URL(fmt.Sprintf("/consultations/%d/save", data.Consultation.ID)) } hx-target="#toast" hx-swap="innerHTML" class="form">
                <textarea class="textarea" name="annotation"></textarea>
                <button type="submit" class="btn">Salvar Anotação</button>
              </form>
            </div>

            <div class="panel">
              <h2>Livro</h2>
              <form method="POST" hx-post={ templ.URL(fmt.Sprintf("/consultations/%d/save", data.Consultation.ID)) } hx-target="#toast" hx-swap="innerHTML" class="form">
                 <input type="text" name="author" placeholder="author">
                  <input type="text" name="title" placeholder="Título">
                <button type="submit" class="btn">Salvar Livro</button>
              </form>
            </div>
          </div>

          <a class="end-consultation" href="/">Encerrar Consulta</a>
        </div>
      }

      if data.Consultation.DoctorRole == "psychiatrist" {
        <div class="psychiatrist-view">
          <div class="panels">
            <div class="panel">
              <h2>Anotação</h2>
             <form method="POST" hx-post={ templ.URL(fmt.Sprintf("/consultations/%d/save", data.Consultation.ID)) } hx-target="#toast" hx-swap="innerHTML" class="form">
                <textarea class="textarea" name="annotation"></textarea>
                <button type="submit" class="btn">Salvar Anotação</button>
              </form>
            </div>

            <div class="panel">
              <h2>Receita</h2>
              <form method="POST" hx-post={ templ.URL(fmt.Sprintf("/consultations/%d/save", data.Consultation.ID)) } hx-target="#toast" hx-swap="innerHTML" class="form">
                <input placeholder="Nome do remédio" class="input" name="remedy-name"/>
                <input placeholder="Dosagem" class="input" name="remedy-dosage"/>
                <input placeholder="Quantidade" class="input"name="remedy-quantity"/>
                <button type="submit" class="btn">Salvar Receita</button>
              </form>
            </div>
          </div>

            <div class="panel">
              <h2>Diagnóstico</h2>
              <form method="POST" hx-post={ templ.URL(fmt.Sprintf("/consultations/%d/save", data.Consultation.ID)) } hx-target="#toast" hx-swap="innerHTML"  class="form">
                 <input type="text" class="input" name="diagnosis">
                <button type="submit" class="btn">Salvar Diagnóstico</button>
              </form>
            </div>

          <a class="end-consultation" href="/me">Encerrar Consulta</a>
        </div>
      }
    </main>
    <script src="/js/toast.js"></script>
  </body>
</html>
}