package views

import (
  "fmt"
  "github.com/gattini0928/Equilibrium/internal/models"
) 

templ DoctorProfilePage(data models.PerfilView, p models.DoctorDashboard) {
  @Layout("Perfil", data.IsAuth, []string{"profile.css"}) {
    <main class="doctor-profile-page">
      <section class="card doctor">
        <h2>Suas informações</h2>
        <img src={p.Perfil.Image} alt="Foto de Perfil do Doutor" />

        <div class="infos">
          <span>{p.Perfil.Name}</span>
          <span>{p.Perfil.Email}</span>
          <span>{p.Perfil.Age} anos</span>

          if p.Role == "therapist" {
            <span>{p.Perfil.Specialty}</span>
          }

          if p.Role == "psychiatrist" {
            <span>{p.Perfil.CRM}</span>
          }
        </div>

        <p class="description">
          {p.Perfil.Description}
        </p>
      </section>

      if len(p.Agendas) == 0 {
        <div class="no-agenda">
          <h2>Agendas</h2>
          <span>{data.Messages["agendas"]}</span>
          <form method="POST" action="/me/agenda">
            <input type="date" name="date" placeholder="Data" required>
            <input type="time" name="hour" placeholder="09:00" required>
            <button type="submit">Adicionar Agenda</button>
          </form>

          <div class="price-container">
            <span class="price">R${fmt.Sprintf("%.2f", p.Perfil.Price)}</span>
            <form method="POST" action="/me/price">
              <input type="number" step="0.01" name="price" placeholder="Preço da Consulta" required>
              <button type="submit">Atualizar Preço</button>
            </form>
          </div>
        </div>
      } else {
        <section class="card">
          <h2>Agendas</h2>

          for _, agenda := range p.Agendas {
            <div class="schedule-list">
              <div class="schedule-item">
                <span class="date">
                  <span>{agenda.Date.Format("02/01/2006 15:04")}</span>
                </span>
                <form method="POST" action={ templ.URL(fmt.Sprintf("/me/agenda/%d", agenda.ID)) }>
                  <button type="submit">Deletar</button>
                </form>
              </div>
            </div>
          }

          <form method="POST" action="/me/agenda">
            <input type="date" name="date" placeholder="Data" required>
            <input type="time" name="hour" placeholder="09:00" required>
            <button type="submit">Adicionar Agenda</button>
          </form>

          <div class="price-container">
            <span class="price">R${fmt.Sprintf("%.2f", p.Perfil.Price)}</span>
            <form method="POST" action="/me/price">
              <input type="number" step="0.01" name="price" placeholder="Preço da Consulta">
              <button type="submit">Atualizar Preço</button>
            </form>
          </div>
        </section>
      }

      <section class="card">
        <h2>Horários Reservados</h2>
        if len(p.AgendasReserved) == 0 {
          <span>{data.Messages["reserved_agendas"]}</span>
        } else {
          for _, agenda := range p.AgendasReserved {
            <div class="schedule-list">
              <div class="schedule-item">
                <span class="date">
                  <span>{agenda.Date.Format("02/01/2006 15:04")}</span>
                </span>
                <span>{agenda.PatientName}</span>
                <form method="POST" action={ templ.URL(fmt.Sprintf("/consultations/from-agenda/%d/start", agenda.ID)) }>
                    <button type="submit">Iniciar Consulta</button>
                </form>
                <form method="POST" action={ templ.URL(fmt.Sprintf("/me/agenda/professional/%d", agenda.ID)) }>
                  <button type="submit">Desmarcar Consulta</button>
                </form>
              </div>
            </div>
          }
        }
      </section>

      <section class="card">
        <h2>Pacientes</h2>
        if len(p.Patients) == 0 {
          <span>{data.Messages["patients"]}</span>
        } else {
          for _, patient := range p.Patients {
            <div class="patient-card">
              <div class="patient-left">
                <img src={patient.Image} alt="Foto do Paciente"/>
                <span>{patient.Name}</span>
              </div>
              <a href={ templ.URL(fmt.Sprintf("/patients/%d", patient.ID)) }>Ver Detalhes</a>
            </div>
          }
        }
      </section>

      <section class="card">
        <h2>Consultas</h2>
        if len(p.Consultations) == 0 {
          <span>{data.Messages["consultations"]}</span>
        } else {
          for _, consultation := range p.Consultations {
            <div class="consultation-card">
              <span>{consultation.PatientName}</span>
              <span>{consultation.Date.Format("02/01/2006 15:04")}</span>
              <a href={ templ.URL(fmt.Sprintf("consultations/consultation-detail/%d", consultation.ID)) }>Ver Detalhes</a>
            </div>
          }
        }
      </section>
    </main>
  }
}