package views

import (
    "fmt"
    "github.com/gattini0928/Equilibrium/internal/models"
  )

templ DoctorReservedAgendasList(data models.PerfilView, p models.DoctorDashboard) {
	<section id="doctor-reserved-agendas" class="card">
		<h2>Horários Reservados</h2>

		if len(p.AgendasReserved) == 0 {
			<span>{data.Messages["reserved_agendas"]}</span>
		} else {
			for _, agenda := range p.AgendasReserved {
				<div class="schedule-list">
					<div class="schedule-item">
						<span class="date">
							<span>{agenda.Date.Format("02/01/2006 15:04")}</span>
						</span>

						<span>{agenda.PatientName}</span>

						<form method="POST" action={ templ.URL(fmt.Sprintf("/consultations/from-agenda/%d/start", agenda.ID)) }>
							<button type="submit">Iniciar Consulta</button>
						</form>

						<form method="POST"
							hx-post={ templ.URL(fmt.Sprintf("/me/agenda/professional/%d", agenda.ID)) }
							hx-target="#doctor-reserved-agendas"
							hx-swap="outerHTML">
							<button type="submit">Desmarcar Consulta</button>
						</form>
					</div>
				</div>
			}
		}
	</section>
}