package views

templ Layout(title string, isAuth bool, cssFiles []string) {
  <html>
    <head>
      <title>{ title }</title>
      <script src="https://unpkg.com/htmx.org@1.9.12"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
      <link rel="stylesheet" href="/static/css/base.css">
      <link rel="stylesheet" href="/static/css/forms.css">
      for _, css := range cssFiles {
        <link rel="stylesheet" href={ "/static/css/" + css }>
      }
    </head>
    <body>
      <header>
        <div class="img-wrapper-nav">
          <a href="/">
            <img src="/static/images/equilibriumclean.png" alt="Equilibrium Logo" class="logo">
          </a>
        </div>
        <nav>
          if isAuth {
            <div class="nav-link-icon">
              <i class="fa-solid fa-address-card" id="nav-icon"></i>
              <a href="/me" class="nav-link">Perfil</a>
            </div>
            <div class="nav-link-icon">
              <i class="fa-solid fa-arrow-right-from-bracket" id="nav-icon"></i>
              <a href="/logout" class="nav-link">Logout</a>
            </div>
          } else {
            <div class="nav-link-icon">
              <i class="fa-brands fa-openid" id="nav-icon"></i>
              <a href="/login" class="nav-link">Login</a>
            </div>
            <div class="nav-link-icon">
              <i class="fa-solid fa-user-plus" id="nav-icon"></i>
              <a href="/signup" class="nav-link">Criar Conta</a>
            </div>
          }

          <div class="nav-link-icon">
            <i class="fa-solid fa-user-doctor" id="nav-icon"></i>
            <a href="/therapists" class="nav-link">Terapeutas</a>
          </div>
          <div class="nav-link-icon">
            <i class="fa-solid fa-user-doctor" id="nav-icon"></i>
            <a href="/psychiatrists" class="nav-link">Psiquiatras</a>
          </div>
        </nav>
      </header>

      { children... }
      <footer>
        <p>© 2026 Equilibriumm — Todos os direitos reservados.</p>
      </footer>
      <script src="/js/toast.js"></script>
    </body>
  </html>
}