package views

import (
    "fmt"
    "github.com/gattini0928/Equilibrium/internal/models"
  )

templ PatientAgendasList(data models.PerfilView, p models.PatientDashboard) {
	<div id="patient-reserved-agendas" class="card">
		<h2>Horários Reservados</h2>

		if len(p.AgendasReserved) == 0 {
			<span>{data.Messages["reserved_agendas"]}</span>
		} else {
			for _, agenda := range p.AgendasReserved {
				<div class="schedule-list">
					<div class="schedule-item patient-agendas">
						<span class="date">
							<span>{agenda.Date.Format("02/01/2006 15:04")}</span>
						</span>

						<form method="POST"
							hx-post={ templ.URL(fmt.Sprintf("/me/agenda/patient/%d", agenda.ID)) }
							hx-target="#patient-reserved-agendas"
							hx-swap="outerHTML">
							<button type="submit" class="delete-btn-patient">Desmarcar Consulta</button>
						</form>
						if agenda.ActiveConsultationID != 0 {
							<a href={ templ.URL(fmt.Sprintf("/consultations/%d", agenda.ActiveConsultationID)) }>
								Consultar
							</a>
						}
					</div>
				</div>
			}
		}
	</div>
}