package views

import (
  "fmt"
  "github.com/gattini0928/Equilibrium/internal/models"
)

templ PatientProfilePage(data models.PerfilView, p models.PatientDashboard) {
  @Layout("Perfil", data.IsAuth, []string{"profile.css"}) {
    <main class="patient-profile-page">
    <div id="toast"></div>
      <section class="grid">
        <div class="card profile-card">
          <img src={p.Perfil.Image} alt="Foto de Perfil"/>
          <span>{p.Perfil.Name}</span>
          <span>{p.Perfil.Email}</span>
          <span>{p.Perfil.Age} anos</span>
          if p.Perfil.CurrentDiagnosis == "" {
            <span>Você ainda não possui um diagnóstico</span>
          } else {
            <span>Diagnóstico: {p.Perfil.CurrentDiagnosis}</span>
          }
        </div>

        @PatientAgendasList(data, p)

        <div class="card">
          <h2>Consultas</h2>

          if len(p.Consultations) == 0 {
            <span>{data.Messages["consultations"]}</span>
          } else {
            for _, consultation := range p.Consultations {
              <div class="consultation">

                if consultation.DoctorRole == "therapist" {
                  <span>Terapeuta: {consultation.DoctorName}</span>
                }

                if consultation.DoctorRole == "psychiatrist" {
                  <span>Psiquiatra: {consultation.DoctorName}</span>
                }

                <span>{consultation.Date.Format("02/01/2006 15:04")}</span>

                <a href={ templ.URL(fmt.Sprintf("consultations/consultation-detail/%d", consultation.ID)) } class="consultation-detail-link">Ver Detalhes</a>
              </div>
            }
          }
        </div>

        <div class="card professional-card">
          <h2>Terapeuta</h2>

          if p.Therapist == nil {
            <span>{data.Messages["therapist"]}</span>
          } else {
            <h3>Terapeuta - Dr. {p.Therapist.Name}</h3>
            <img src={p.Therapist.Image} alt="Foto de perfil do terapeuta" />
            <a href={ templ.URL(fmt.Sprintf("/therapists/id/%d", p.Therapist.ID)) } class="therapist-link">Ver Agenda</a>
          }
        </div>

        <div class="card professional-card">
          <h2>Psiquiatra</h2>

          if p.Psychiatrist == nil {
            <span>{data.Messages["psychiatrist"]}</span>
          } else {
            <h3>Psiquiatra - Dr. {p.Psychiatrist.Name}</h3>
            <img src={p.Psychiatrist.Image} alt="Foto de perfil do psiquiatra" />
            <a href={ templ.URL(fmt.Sprintf("/psychiatrists/id/%d", p.Psychiatrist.ID)) } class="psychiatrist-link">Ver Agenda</a>
          }
        </div>

      </section>
    </main>
  }
}