package views

import (
    "fmt"
    "github.com/gattini0928/Equilibrium/internal/models"
    )

templ DoctorPriceContainer(p models.DoctorDashboard) {
	<div id="price-container" class="price-container">
		<span class="price">R${fmt.Sprintf("%.2f", p.Perfil.Price)}</span>
		<form method="POST" hx-post="/me/price" hx-target="#price-container" hx-swap="outerHTML">
			<input type="number" step="0.01" name="price" placeholder="Preço da Consulta">
			<button type="submit">Atualizar Preço</button>
		</form>
	</div>
}