package views

import (
    "fmt"
    "github.com/gattini0928/Equilibrium/internal/models"
    )

templ TherapistDetailPage(therapist models.DoctorWithUser, agendas []models.Agenda, isAuth bool) {
    @Layout(therapist.Name, isAuth) {
    <main class="doctor-detail-page">
        <section class="card doctor-card">
        <img 
            src={therapist.Image}
            alt="Foto do Terapeuta"
        />

        <h1>{therapist.Name}</h1>

        <div class="doctor-info">
            <span>Email: {therapist.Email}</span>
            <span>Idade: {therapist.Age} anos</span>
            <span>Especialidade: {therapist.Specialty}</span>

            <p>
                {therapist.Description}
            </p>
        </div>

        </section>

        <section class="card schedule-card">
        <h2>Agendas</h2>

        if len(agendas) == 0 {
            <span>Terapeuta sem agenda disponível no momento</span>
            <span class="price">R${therapist.Price}</span>
        } else {
            <div class="schedule-list">
                for _, agenda := range agendas {
                    <div class="schedule-item">
                        <span class="date">
                            {agenda.Date.Format("02/01/2006 15:04")}
                        </span>
                        <form method="POST" action={templ.URL(fmt.Sprintf("/therapists/%d/agendas/%d/reserve", therapist.ID, agenda.ID))}>
                            <button type="submit">Reservar</button>
                        </form>
            </div>
            }
                <span class="price">R${therapist.Price}</span>
            </div>
        }
    </section>
  </main>
    }
}